extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
        br
        form(action="/login")
            br
            input(type="text" id="sound" placeholder="Enter object name")
            br
            br
            input(type="submit" value="Submit")