extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
        <br>
        <form action="/checkAnswer" method="POST">
            <br>
            <input type=text name="answer" placeholder="Enter the sound">
            <br>
            <br>
            <input type=submit value=submit>
        </form>